
# Compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de editores
.vscode/
.idea/

# Carpetas de prueba o de salida
dist/
build/

# Archivos de bases de datos temporales
*.sqlite3

# Logs
*.log

# Configuración de Jupyter
.ipynb_checkpoints/

# Otros
*.bak
*.tmp
